adflabkc-adf/PartialArmTemplates/ArmTemplate_6_12_2019_10_19_24.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adflabkc-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Blob to Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Azure Blob to Azure Blob",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"N-Number": "N-Number",
									"Serial Number": "Serial Number",
									"MFR MDL Code": "MFR MDL Code",
									"Eng MFR Code": "Eng MFR Code",
									"Year MFR": "Year MFR",
									"Type Registrant": "Type Registrant",
									"Name": "Name",
									"Street 1": "Street 1",
									"Street2": "Street2",
									"City": "City",
									"State": "State",
									"ZIP": "ZIP",
									"Region": "Region",
									"County ": "County ",
									"Country": "Country",
									"Last Activity Date": "Last Activity Date",
									"Cert Issue Date": "Cert Issue Date",
									"Certification Requested ": "Certification Requested ",
									"Type Aircraft": "Type Aircraft",
									"Type Engine": "Type Engine",
									"Status Code": "Status Code",
									"Mode S Code": "Mode S Code",
									"Fractional  Ownership": "Fractional  Ownership",
									"Airworthiness Date": "Airworthiness Date",
									"Other Name 1": "Other Name 1",
									"Other Name 2": "Other Name 2",
									"Other Name 3": "Other Name 3",
									"Other Name 4": "Other Name 4",
									"Other Name 5": "Other Name 5",
									"Expiration Date": "Expiration Date",
									"Unique ID": "Unique ID",
									"Kit MFR Code": "Kit MFR Code",
									"Kit Model": "Kit Model",
									"Mose S Code Hex": "Mose S Code Hex"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Blob Master FAA File",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Blob Destination Master FAA File",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Send Success Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Azure Blob to Azure Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://prod-26.eastus.logic.azure.com:443/workflows/e9882e2893614ed4a267d587417316f9",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@{pipeline().DataFactory}",
								"successtype": "Succeeded",
								"message": "@{activity('Azure Blob to Azure Blob').output.dataWritten}",
								"pipelineName": "@{pipeline().Pipeline}",
								"recipient": "@{pipeline().parameters.recipient}"
							}
						}
					},
					{
						"name": "Send Failure Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Azure Blob to Azure Blob",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://prod-26.eastus.logic.azure.com:443/workflows/e9882e2893614ed4a267d587417316f9",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@{pipeline().DataFactory}",
								"successtype": "Failed",
								"message": "@{activity('Azure Blob to Azure Blob').error.message}",
								"pipelineName": "@{pipeline().Pipeline}",
								"recipient": "@{pipeline().parameters.recipient}"
							}
						}
					},
					{
						"name": "Execute Weather to Blob Copy",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Send Success Email",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Weather to Blob Copy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"parameters": {
					"recipient": {
						"type": "string",
						"defaultValue": "Kevin.Curnow@appliedis.com"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Blob Master FAA File')]",
				"[concat(variables('factoryId'), '/datasets/Blob Destination Master FAA File')]",
				"[concat(variables('factoryId'), '/pipelines/Weather to Blob Copy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weather to Blob Copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_bhz",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "_id"
										},
										"sink": {
											"name": "_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "date"
										},
										"sink": {
											"name": "date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dateint"
										},
										"sink": {
											"name": "dateint",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "airport"
										},
										"sink": {
											"name": "airport",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "temp"
										},
										"sink": {
											"name": "temp",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_bhz",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_bhz",
								"type": "DatasetReference"
							}
						]
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_bhz')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_bhz')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob Destination Master FAA File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorage_Destination",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "N-Number",
						"type": "String"
					},
					{
						"name": "Serial Number",
						"type": "String"
					},
					{
						"name": "MFR MDL Code",
						"type": "String"
					},
					{
						"name": "Eng MFR Code",
						"type": "String"
					},
					{
						"name": "Year MFR",
						"type": "String"
					},
					{
						"name": "Type Registrant",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Street 1",
						"type": "String"
					},
					{
						"name": "Street2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "ZIP",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "County ",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Last Activity Date",
						"type": "String"
					},
					{
						"name": "Cert Issue Date",
						"type": "String"
					},
					{
						"name": "Certification Requested ",
						"type": "String"
					},
					{
						"name": "Type Aircraft",
						"type": "String"
					},
					{
						"name": "Type Engine",
						"type": "String"
					},
					{
						"name": "Status Code",
						"type": "String"
					},
					{
						"name": "Mode S Code",
						"type": "String"
					},
					{
						"name": "Fractional  Ownership",
						"type": "String"
					},
					{
						"name": "Airworthiness Date",
						"type": "String"
					},
					{
						"name": "Other Name 1",
						"type": "String"
					},
					{
						"name": "Other Name 2",
						"type": "String"
					},
					{
						"name": "Other Name 3",
						"type": "String"
					},
					{
						"name": "Other Name 4",
						"type": "String"
					},
					{
						"name": "Other Name 5",
						"type": "String"
					},
					{
						"name": "Expiration Date",
						"type": "String"
					},
					{
						"name": "Unique ID",
						"type": "String"
					},
					{
						"name": "Kit MFR Code",
						"type": "String"
					},
					{
						"name": "Kit Model",
						"type": "String"
					},
					{
						"name": "Mose S Code Hex",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "FAAmaster.txt",
					"folderPath": "input"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob Master FAA File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_Source",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "N-Number",
						"type": "String"
					},
					{
						"name": "Serial Number",
						"type": "String"
					},
					{
						"name": "MFR MDL Code",
						"type": "String"
					},
					{
						"name": "Eng MFR Code",
						"type": "String"
					},
					{
						"name": "Year MFR",
						"type": "String"
					},
					{
						"name": "Type Registrant",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Street 1",
						"type": "String"
					},
					{
						"name": "Street2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "ZIP",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "County ",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Last Activity Date",
						"type": "String"
					},
					{
						"name": "Cert Issue Date",
						"type": "String"
					},
					{
						"name": "Certification Requested ",
						"type": "String"
					},
					{
						"name": "Type Aircraft",
						"type": "String"
					},
					{
						"name": "Type Engine",
						"type": "String"
					},
					{
						"name": "Status Code",
						"type": "String"
					},
					{
						"name": "Mode S Code",
						"type": "String"
					},
					{
						"name": "Fractional  Ownership",
						"type": "String"
					},
					{
						"name": "Airworthiness Date",
						"type": "String"
					},
					{
						"name": "Other Name 1",
						"type": "String"
					},
					{
						"name": "Other Name 2",
						"type": "String"
					},
					{
						"name": "Other Name 3",
						"type": "String"
					},
					{
						"name": "Other Name 4",
						"type": "String"
					},
					{
						"name": "Other Name 5",
						"type": "String"
					},
					{
						"name": "Expiration Date",
						"type": "String"
					},
					{
						"name": "Unique ID",
						"type": "String"
					},
					{
						"name": "Kit MFR Code",
						"type": "String"
					},
					{
						"name": "Kit Model",
						"type": "String"
					},
					{
						"name": "Mose S Code Hex",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"treatEmptyAsNull": false,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "FAAmaster.txt",
					"folderPath": "input"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_bhz')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorage_Destination",
					"type": "LinkedServiceReference"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "201612-WeatherData.txt",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "_id",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "dateint",
						"type": "String"
					},
					{
						"name": "airport",
						"type": "String"
					},
					{
						"name": "temp",
						"type": "String"
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_bhz')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HTTP_Weather",
					"type": "LinkedServiceReference"
				},
				"type": "HttpFile",
				"structure": [
					{
						"name": "_id",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "dateint",
						"type": "Int64"
					},
					{
						"name": "airport",
						"type": "String"
					},
					{
						"name": "temp",
						"type": "Int64"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "arrayOfObjects",
						"jsonPathDefinition": {
							"_id": "$.['_id']",
							"date": "$.['date']",
							"dateint": "$.['dateint']",
							"airport": "$.['airport']",
							"temp": "$.['temp']"
						}
					},
					"relativeUrl": "",
					"requestMethod": "GET",
					"additionalHeaders": "x-apikey: 5a31643dcb25c1076c7cd9ab\nContent-Type: application/json"
				}
			}
		}
	]
}