adflabkc-adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adflabkc-adf"
		},
		"AzStorage_Destination_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzStorage_Destination'"
		},
		"Azure DW DB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Azure DW DB'"
		},
		"Azure ODS DB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Azure ODS DB'"
		},
		"AzureBlobStorage_Source_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage_Source'"
		},
		"HDI_ADFLab_clusterPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterPassword' of 'HDI_ADFLab'"
		},
		"HDI_ADFLab_clusterSshPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterSshPassword' of 'HDI_ADFLab'"
		},
		"HDI_ADFLab_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'HDI_ADFLab'"
		},
		"Blob Destination Master FAA File_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "FAAmaster.txt"
		},
		"Blob Destination Master FAA File_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "input"
		},
		"Blob Master FAA File_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "FAAmaster.txt"
		},
		"Blob Master FAA File_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "input"
		},
		"HDI_ADFLab_properties_typeProperties_hostSubscriptionId": {
			"type": "string",
			"defaultValue": "220ab113-94bf-4ba9-8f83-2e0e63c0b8c1"
		},
		"HDI_ADFLab_properties_typeProperties_clusterResourceGroup": {
			"type": "string",
			"defaultValue": "adflab-test"
		},
		"HDI_ADFLab_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "7795caf5-ae67-4b19-b012-01e486369a73"
		},
		"HDI_ADFLab_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "f32b97f0-efb8-4bc3-91ee-18a6e5f635c9"
		},
		"HDI_ADFLab_properties_typeProperties_clusterSshUserName": {
			"type": "string",
			"defaultValue": "kevin"
		},
		"HTTP_Weather_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://weather-b362.restdb.io/rest/random-weather-dec-2016"
		},
		"Daily - DW Load Trigger_properties_Master - Begin DW Load_parameters_recipient": {
			"type": "string",
			"defaultValue": "Kevin.Curnow@appliedis.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Load Data Warehouse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DW Truncate Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_TruncateStaging]"
						},
						"linkedServiceName": {
							"referenceName": "Azure DW DB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ODS Airline to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorage_Destination",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code(int32)"
										},
										"sink": {
											"name": "Code(int32)"
										}
									},
									{
										"source": {
											"name": "Airline_Code(String)"
										},
										"sink": {
											"name": "Airline_Code(String)"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ODS_Airline",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Airline",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ODS Airport to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorage_Destination",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "String"
										},
										"sink": {
											"name": "Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "City_Airport",
											"type": "String"
										},
										"sink": {
											"name": "City_Airport",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ODS_Airport",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Airport",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ODS Flight to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorage_Destination",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "YEAR",
											"type": "Int16"
										},
										"sink": {
											"name": "YEAR",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "MONTH",
											"type": "Int16"
										},
										"sink": {
											"name": "MONTH",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "FL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "FL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "UNIQUE_CARRIER",
											"type": "String"
										},
										"sink": {
											"name": "UNIQUE_CARRIER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AIRLINE_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "AIRLINE_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CARRIER",
											"type": "String"
										},
										"sink": {
											"name": "CARRIER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TAIL_NUM",
											"type": "String"
										},
										"sink": {
											"name": "TAIL_NUM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FL_NUM",
											"type": "Int32"
										},
										"sink": {
											"name": "FL_NUM",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ORIGIN_AIRPORT_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ORIGIN_AIRPORT_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ORIGIN_AIRPORT_SEQ_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ORIGIN_AIRPORT_SEQ_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ORIGIN_CITY_MARKET_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ORIGIN_CITY_MARKET_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEST_AIRPORT_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "DEST_AIRPORT_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEST_AIRPORT_SEQ_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "DEST_AIRPORT_SEQ_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEST_CITY_MARKET_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "DEST_CITY_MARKET_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEP_TIME",
											"type": "String"
										},
										"sink": {
											"name": "DEP_TIME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DEP_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "DEP_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "DEP_DELAY_NEW",
											"type": "Double"
										},
										"sink": {
											"name": "DEP_DELAY_NEW",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "TAXI_OUT",
											"type": "Double"
										},
										"sink": {
											"name": "TAXI_OUT",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "WHEELS_OFF",
											"type": "String"
										},
										"sink": {
											"name": "WHEELS_OFF",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WHEELS_ON",
											"type": "String"
										},
										"sink": {
											"name": "WHEELS_ON",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TAXI_IN",
											"type": "Double"
										},
										"sink": {
											"name": "TAXI_IN",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "ARR_TIME",
											"type": "String"
										},
										"sink": {
											"name": "ARR_TIME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ARR_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "ARR_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "ARR_DELAY_NEW",
											"type": "Double"
										},
										"sink": {
											"name": "ARR_DELAY_NEW",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "CANCELLED",
											"type": "Boolean"
										},
										"sink": {
											"name": "CANCELLED",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "CANCELLATION_CODE",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLATION_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACTUAL_ELAPSED_TIME",
											"type": "Double"
										},
										"sink": {
											"name": "ACTUAL_ELAPSED_TIME",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "AIR_TIME",
											"type": "Double"
										},
										"sink": {
											"name": "AIR_TIME",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "FLIGHTS",
											"type": "Int32"
										},
										"sink": {
											"name": "FLIGHTS",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DISTANCE",
											"type": "Int32"
										},
										"sink": {
											"name": "DISTANCE",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CARRIER_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "CARRIER_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "WEATHER_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "WEATHER_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "NAS_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "NAS_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "SECURITY_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "SECURITY_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "LATE_AIRCRAFT_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "LATE_AIRCRAFT_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "DEST_CODE",
											"type": "String"
										},
										"sink": {
											"name": "DEST_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORIGIN_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ORIGIN_CODE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ODS_Flight",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Flight",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Blob FAA to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorage_Destination",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "N_Number",
											"type": "String"
										},
										"sink": {
											"name": "N-Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Serial_Number",
											"type": "String"
										},
										"sink": {
											"name": "Serial Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Year_MFR",
											"type": "String"
										},
										"sink": {
											"name": "Year MFR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MFR_Name",
											"type": "String"
										},
										"sink": {
											"name": "MFR-NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Model_Name",
											"type": "String"
										},
										"sink": {
											"name": "MODEL-NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Number_Engines",
											"type": "String"
										},
										"sink": {
											"name": "NUMBER-ENGINES",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Number_Seats",
											"type": "String"
										},
										"sink": {
											"name": "NUMBER-SEATS",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "FAA_Merge",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Aircraft",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Blob Weather to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSetting"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorage_Destination",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "_id",
											"type": "String"
										},
										"sink": {
											"name": "_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String"
										},
										"sink": {
											"name": "weatherDate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dateint",
											"type": "String"
										},
										"sink": {
											"name": "weatherDateInt",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "airport",
											"type": "String"
										},
										"sink": {
											"name": "airportCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "temp",
											"type": "String"
										},
										"sink": {
											"name": "temperatureF",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DestinationDataset_bhz",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Weather",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DW Load Dimensions",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ODS Airline to DW",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ODS Airport to DW",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ODS Flight to DW",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Blob FAA to DW",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Blob Weather to DW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LoadDimensions]"
						},
						"linkedServiceName": {
							"referenceName": "Azure DW DB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DW Load Fact",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DW Load Dimensions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LoadFact]"
						},
						"linkedServiceName": {
							"referenceName": "Azure DW DB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure DW DB')]",
				"[concat(variables('factoryId'), '/datasets/ODS_Airline')]",
				"[concat(variables('factoryId'), '/datasets/DW_Staging_Airline')]",
				"[concat(variables('factoryId'), '/datasets/ODS_Airport')]",
				"[concat(variables('factoryId'), '/datasets/DW_Staging_Airport')]",
				"[concat(variables('factoryId'), '/datasets/ODS_Flight')]",
				"[concat(variables('factoryId'), '/datasets/DW_Staging_Flight')]",
				"[concat(variables('factoryId'), '/datasets/FAA_Merge')]",
				"[concat(variables('factoryId'), '/datasets/DW_Staging_Aircraft')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_bhz')]",
				"[concat(variables('factoryId'), '/datasets/DW_Staging_Weather')]",
				"[concat(variables('factoryId'), '/linkedServices/AzStorage_Destination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master - Begin DW Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Azure Blob to Azure Blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"N-Number": "N-Number",
									"Serial Number": "Serial Number",
									"MFR MDL Code": "MFR MDL Code",
									"Eng MFR Code": "Eng MFR Code",
									"Year MFR": "Year MFR",
									"Type Registrant": "Type Registrant",
									"Name": "Name",
									"Street 1": "Street 1",
									"Street2": "Street2",
									"City": "City",
									"State": "State",
									"ZIP": "ZIP",
									"Region": "Region",
									"County ": "County ",
									"Country": "Country",
									"Last Activity Date": "Last Activity Date",
									"Cert Issue Date": "Cert Issue Date",
									"Certification Requested ": "Certification Requested ",
									"Type Aircraft": "Type Aircraft",
									"Type Engine": "Type Engine",
									"Status Code": "Status Code",
									"Mode S Code": "Mode S Code",
									"Fractional  Ownership": "Fractional  Ownership",
									"Airworthiness Date": "Airworthiness Date",
									"Other Name 1": "Other Name 1",
									"Other Name 2": "Other Name 2",
									"Other Name 3": "Other Name 3",
									"Other Name 4": "Other Name 4",
									"Other Name 5": "Other Name 5",
									"Expiration Date": "Expiration Date",
									"Unique ID": "Unique ID",
									"Kit MFR Code": "Kit MFR Code",
									"Kit Model": "Kit Model",
									"Mose S Code Hex": "Mose S Code Hex"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Blob Master FAA File",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob Destination Master FAA File",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Send Success Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Azure Blob to Azure Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-26.eastus.logic.azure.com:443/workflows/e9882e2893614ed4a267d587417316f9/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=BnyVj0wa74DeTpAe6ROwxAmTT8kd-sLvofj08CgWM8A",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@{pipeline().DataFactory}",
								"successtype": "Succeeded",
								"message": "@{activity('Azure Blob to Azure Blob').output.dataWritten}",
								"pipelineName": "@{pipeline().Pipeline}",
								"recipient": "@{pipeline().parameters.recipient}"
							}
						}
					},
					{
						"name": "Send Failure Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Azure Blob to Azure Blob",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-26.eastus.logic.azure.com:443/workflows/e9882e2893614ed4a267d587417316f9/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=BnyVj0wa74DeTpAe6ROwxAmTT8kd-sLvofj08CgWM8A",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@{pipeline().DataFactory}",
								"successtype": "Failed",
								"message": "@{activity('Azure Blob to Azure Blob').error.message}",
								"pipelineName": "@{pipeline().Pipeline}",
								"recipient": "@{pipeline().parameters.recipient}"
							}
						}
					},
					{
						"name": "Execute Weather to Blob Copy",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Send Success Email",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Weather to Blob Copy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Exec Merge FAA Files",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Weather to Blob Copy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Merge FAA Files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"parameters": {
					"recipient": {
						"type": "string",
						"defaultValue": "Kevin.Curnow@appliedis.com"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Blob Master FAA File')]",
				"[concat(variables('factoryId'), '/datasets/Blob Destination Master FAA File')]",
				"[concat(variables('factoryId'), '/pipelines/Weather to Blob Copy')]",
				"[concat(variables('factoryId'), '/pipelines/Merge FAA Files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Merge FAA Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run FAA Hive Merge",
						"type": "HDInsightHive",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"scriptPath": "input/FAAMerge.hql",
							"scriptLinkedService": {
								"referenceName": "AzStorage_Destination",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "HDI_ADFLab",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorage_Destination')]",
				"[concat(variables('factoryId'), '/linkedServices/HDI_ADFLab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weather to Blob Copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_bhz",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "_id"
										},
										"sink": {
											"name": "_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "date"
										},
										"sink": {
											"name": "date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dateint"
										},
										"sink": {
											"name": "dateint",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "airport"
										},
										"sink": {
											"name": "airport",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "temp"
										},
										"sink": {
											"name": "temp",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_bhz",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_bhz",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_bhz')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_bhz')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob Destination Master FAA File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorage_Destination",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "N-Number",
						"type": "String"
					},
					{
						"name": "Serial Number",
						"type": "String"
					},
					{
						"name": "MFR MDL Code",
						"type": "String"
					},
					{
						"name": "Eng MFR Code",
						"type": "String"
					},
					{
						"name": "Year MFR",
						"type": "String"
					},
					{
						"name": "Type Registrant",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Street 1",
						"type": "String"
					},
					{
						"name": "Street2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "ZIP",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "County ",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Last Activity Date",
						"type": "String"
					},
					{
						"name": "Cert Issue Date",
						"type": "String"
					},
					{
						"name": "Certification Requested ",
						"type": "String"
					},
					{
						"name": "Type Aircraft",
						"type": "String"
					},
					{
						"name": "Type Engine",
						"type": "String"
					},
					{
						"name": "Status Code",
						"type": "String"
					},
					{
						"name": "Mode S Code",
						"type": "String"
					},
					{
						"name": "Fractional  Ownership",
						"type": "String"
					},
					{
						"name": "Airworthiness Date",
						"type": "String"
					},
					{
						"name": "Other Name 1",
						"type": "String"
					},
					{
						"name": "Other Name 2",
						"type": "String"
					},
					{
						"name": "Other Name 3",
						"type": "String"
					},
					{
						"name": "Other Name 4",
						"type": "String"
					},
					{
						"name": "Other Name 5",
						"type": "String"
					},
					{
						"name": "Expiration Date",
						"type": "String"
					},
					{
						"name": "Unique ID",
						"type": "String"
					},
					{
						"name": "Kit MFR Code",
						"type": "String"
					},
					{
						"name": "Kit Model",
						"type": "String"
					},
					{
						"name": "Mose S Code Hex",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('Blob Destination Master FAA File_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('Blob Destination Master FAA File_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorage_Destination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob Master FAA File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_Source",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "N-Number",
						"type": "String"
					},
					{
						"name": "Serial Number",
						"type": "String"
					},
					{
						"name": "MFR MDL Code",
						"type": "String"
					},
					{
						"name": "Eng MFR Code",
						"type": "String"
					},
					{
						"name": "Year MFR",
						"type": "String"
					},
					{
						"name": "Type Registrant",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Street 1",
						"type": "String"
					},
					{
						"name": "Street2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "ZIP",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "County ",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Last Activity Date",
						"type": "String"
					},
					{
						"name": "Cert Issue Date",
						"type": "String"
					},
					{
						"name": "Certification Requested ",
						"type": "String"
					},
					{
						"name": "Type Aircraft",
						"type": "String"
					},
					{
						"name": "Type Engine",
						"type": "String"
					},
					{
						"name": "Status Code",
						"type": "String"
					},
					{
						"name": "Mode S Code",
						"type": "String"
					},
					{
						"name": "Fractional  Ownership",
						"type": "String"
					},
					{
						"name": "Airworthiness Date",
						"type": "String"
					},
					{
						"name": "Other Name 1",
						"type": "String"
					},
					{
						"name": "Other Name 2",
						"type": "String"
					},
					{
						"name": "Other Name 3",
						"type": "String"
					},
					{
						"name": "Other Name 4",
						"type": "String"
					},
					{
						"name": "Other Name 5",
						"type": "String"
					},
					{
						"name": "Expiration Date",
						"type": "String"
					},
					{
						"name": "Unique ID",
						"type": "String"
					},
					{
						"name": "Kit MFR Code",
						"type": "String"
					},
					{
						"name": "Kit Model",
						"type": "String"
					},
					{
						"name": "Mose S Code Hex",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"treatEmptyAsNull": false,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('Blob Master FAA File_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('Blob Master FAA File_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Staging_Aircraft')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure DW DB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "N-Number",
						"type": "nvarchar"
					},
					{
						"name": "Serial Number",
						"type": "nvarchar"
					},
					{
						"name": "Year MFR",
						"type": "nvarchar"
					},
					{
						"name": "MFR-NAME",
						"type": "nvarchar"
					},
					{
						"name": "MODEL-NAME",
						"type": "nvarchar"
					},
					{
						"name": "NUMBER-ENGINES",
						"type": "nvarchar"
					},
					{
						"name": "NUMBER-SEATS",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"tableName": "[[Staging].[DimAircraft]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure DW DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Staging_Airline')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure DW DB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Airline_Code",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[Staging].[DimAirline]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure DW DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Staging_Airport')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure DW DB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "Code",
						"type": "varchar"
					},
					{
						"name": "City_Airport",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[Staging].[DimAirport]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure DW DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Staging_Flight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure DW DB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "YEAR",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MONTH",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "FL_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UNIQUE_CARRIER",
						"type": "varchar"
					},
					{
						"name": "AIRLINE_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "TAIL_NUM",
						"type": "varchar"
					},
					{
						"name": "FL_NUM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_AIRPORT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_AIRPORT_SEQ_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_CITY_MARKET_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_AIRPORT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_AIRPORT_SEQ_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_CITY_MARKET_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEP_TIME",
						"type": "varchar"
					},
					{
						"name": "DEP_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DEP_DELAY_NEW",
						"type": "float",
						"precision": 15
					},
					{
						"name": "TAXI_OUT",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WHEELS_OFF",
						"type": "varchar"
					},
					{
						"name": "WHEELS_ON",
						"type": "varchar"
					},
					{
						"name": "TAXI_IN",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ARR_TIME",
						"type": "varchar"
					},
					{
						"name": "ARR_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ARR_DELAY_NEW",
						"type": "float",
						"precision": 15
					},
					{
						"name": "CANCELLED",
						"type": "bit"
					},
					{
						"name": "CANCELLATION_CODE",
						"type": "varchar"
					},
					{
						"name": "ACTUAL_ELAPSED_TIME",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AIR_TIME",
						"type": "float",
						"precision": 15
					},
					{
						"name": "FLIGHTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DISTANCE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CARRIER_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WEATHER_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "NAS_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "SECURITY_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "LATE_AIRCRAFT_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DEST_CODE",
						"type": "varchar"
					},
					{
						"name": "ORIGIN_CODE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[Staging].[FlightFact]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure DW DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Staging_Weather')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure DW DB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "_id",
						"type": "varchar"
					},
					{
						"name": "weatherDate",
						"type": "varchar"
					},
					{
						"name": "weatherDateInt",
						"type": "int",
						"precision": 10
					},
					{
						"name": "airportCode",
						"type": "varchar"
					},
					{
						"name": "temperatureF",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"tableName": "[[Staging].[Weather]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure DW DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_bhz')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorage_Destination",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "201612-WeatherData.txt",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "_id",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "dateint",
						"type": "String"
					},
					{
						"name": "airport",
						"type": "String"
					},
					{
						"name": "temp",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorage_Destination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FAA_Merge')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorage_Destination",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "000000_0",
						"folderPath": "FAAMerge",
						"container": "output"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "N_Number",
						"type": "String"
					},
					{
						"name": "Serial_Number",
						"type": "String"
					},
					{
						"name": "Year_MFR",
						"type": "String"
					},
					{
						"name": "MFR_Name",
						"type": "String"
					},
					{
						"name": "Model_Name",
						"type": "String"
					},
					{
						"name": "Number_Engines",
						"type": "String"
					},
					{
						"name": "Number_Seats",
						"type": "String"
					},
					{
						"name": "0",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorage_Destination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODS_Airline')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure ODS DB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Airline_Code",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Airline]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure ODS DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODS_Airport')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure ODS DB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Code",
						"type": "varchar"
					},
					{
						"name": "City_Airport",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Airport]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure ODS DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODS_Flight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure ODS DB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "YEAR",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MONTH",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "FL_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UNIQUE_CARRIER",
						"type": "varchar"
					},
					{
						"name": "AIRLINE_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "TAIL_NUM",
						"type": "varchar"
					},
					{
						"name": "FL_NUM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_AIRPORT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_AIRPORT_SEQ_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_CITY_MARKET_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_AIRPORT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_AIRPORT_SEQ_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_CITY_MARKET_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEP_TIME",
						"type": "varchar"
					},
					{
						"name": "DEP_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DEP_DELAY_NEW",
						"type": "float",
						"precision": 15
					},
					{
						"name": "TAXI_OUT",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WHEELS_OFF",
						"type": "varchar"
					},
					{
						"name": "WHEELS_ON",
						"type": "varchar"
					},
					{
						"name": "TAXI_IN",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ARR_TIME",
						"type": "varchar"
					},
					{
						"name": "ARR_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ARR_DELAY_NEW",
						"type": "float",
						"precision": 15
					},
					{
						"name": "CANCELLED",
						"type": "bit"
					},
					{
						"name": "CANCELLATION_CODE",
						"type": "varchar"
					},
					{
						"name": "ACTUAL_ELAPSED_TIME",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AIR_TIME",
						"type": "float",
						"precision": 15
					},
					{
						"name": "FLIGHTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DISTANCE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CARRIER_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WEATHER_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "NAS_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "SECURITY_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "LATE_AIRCRAFT_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DEST_CODE",
						"type": "varchar"
					},
					{
						"name": "ORIGIN_CODE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Flight]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure ODS DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_bhz')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HTTP_Weather",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "HttpFile",
				"structure": [
					{
						"name": "_id",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "dateint",
						"type": "Int64"
					},
					{
						"name": "airport",
						"type": "String"
					},
					{
						"name": "temp",
						"type": "Int64"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "arrayOfObjects",
						"jsonPathDefinition": {
							"_id": "$.['_id']",
							"date": "$.['date']",
							"dateint": "$.['dateint']",
							"airport": "$.['airport']",
							"temp": "$.['temp']"
						}
					},
					"relativeUrl": "",
					"requestMethod": "GET",
					"additionalHeaders": "x-apikey: 5a31643dcb25c1076c7cd9ab\nContent-Type: application/json"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HTTP_Weather')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzStorage_Destination')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzStorage_Destination_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure DW DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('Azure DW DB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure ODS DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Azure ODS DB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage_Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage_Source_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HDI_ADFLab')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsightOnDemand",
				"typeProperties": {
					"clusterType": "hadoop",
					"clusterSize": 4,
					"timeToLive": "00:05:00",
					"version": "3.6",
					"hostSubscriptionId": "[parameters('HDI_ADFLab_properties_typeProperties_hostSubscriptionId')]",
					"clusterResourceGroup": "[parameters('HDI_ADFLab_properties_typeProperties_clusterResourceGroup')]",
					"servicePrincipalId": "[parameters('HDI_ADFLab_properties_typeProperties_servicePrincipalId')]",
					"osType": "Linux",
					"tenant": "[parameters('HDI_ADFLab_properties_typeProperties_tenant')]",
					"clusterNamePrefix": "",
					"clusterPassword": {
						"type": "SecureString",
						"value": "[parameters('HDI_ADFLab_clusterPassword')]"
					},
					"clusterSshUserName": "[parameters('HDI_ADFLab_properties_typeProperties_clusterSshUserName')]",
					"clusterSshPassword": {
						"type": "SecureString",
						"value": "[parameters('HDI_ADFLab_clusterSshPassword')]"
					},
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('HDI_ADFLab_servicePrincipalKey')]"
					},
					"linkedServiceName": {
						"referenceName": "AzStorage_Destination",
						"type": "LinkedServiceReference"
					},
					"headNodeSize": "",
					"dataNodeSize": "",
					"zookeeperNodeSize": "",
					"subnetName": "",
					"virtualNetworkId": ""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorage_Destination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HTTP_Weather')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HTTP_Weather_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily - DW Load Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Master - Begin DW Load",
							"type": "PipelineReference"
						},
						"parameters": {
							"recipient": "[parameters('Daily - DW Load Trigger_properties_Master - Begin DW Load_parameters_recipient')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-06-17T13:18:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								18
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Master - Begin DW Load')]"
			]
		}
	]
}